body {
    background-color: gray;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
}

.info > div {
    margin: 0 10px;
}

.content-item {
    background-color: white;
    border: 2px solid black;
}


.view {
    vertical-align:top;
    width: 100%;
}
