body {
    background-color: gray;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.content-item {
    background-color: white;
    border: 2px solid black;
}

.zoom-content {
    /* transform: translate3d(200px, 10px, 0px) scale(1.5); */
}

.view {
    vertical-align:top;
}
